@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 895px) {

  #page,
  #header-top,
  #footer-bottom-wrapper { width: 100%; }

    #page #main { margin: 0; }

    #page #content,
    #page #sidebar-second {
      float: none;
      margin: 0;
      width: 100%;
    }

    #page #sidebar-second #sidebar-second-inner .region .block { float: left; }

    #sidebar-second .block .block-inner .content { margin-top: 10px; }

  #content #content-inner { margin: 0; }
  
  #block-search-form { width: 20%; }

  #block-search-form .block-inner .content form div .container-inline .form-type-textfield { width: 70%; }

  #block-search-form .block-inner .content form div .container-inline .form-type-textfield input { width: 100%; }

  #block-search-form .block-inner .content form div .container-inline .form-actions { width: 30%; }

  #block-search-form .block-inner .content form div .container-inline .form-actions #edit-submit--2,
  #block-search-form .block-inner .content form div .container-inline .form-actions #edit-submit { width: 100%; }

  #block-menu-menu-redes-sociales-footer .block-inner .content ul.menu { padding: 0; }

  #footer-bottom #footer-bottom-wrapper #block-block-13 { right: 15px; }

  #footer-bottom #footer-bottom-wrapper #block-menu-menu-enlaces-footer ul.menu {
    position: inherit;
    left: inherit;
    top: inherit;
    width: 100%;
    text-align: center;
  }

  #footer-bottom #footer-bottom-wrapper #block-block-12 {
    overflow: hidden;
    position: inherit;
    top: inherit;
    left: inherit;
    text-align: center;
    margin-top: -70px;
  }

  #footer-bottom #footer-bottom-wrapper #block-block-12 h2 a { display: inline-block; }


}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 685px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 240px) {

}
