@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 895px) {

  #page { width: 100%; }

    #page #main { margin: 0; }

    #page #content,
    #page #sidebar-second {
      float: none;
      margin: 0;
      width: 100%;
    }

    #page #sidebar-second #sidebar-second-inner .region .block { float: left; }

    #sidebar-second .block .block-inner .content { margin-top: 10px; }

  #content #content-inner { margin: 0; }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 685px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 240px) {

}



